* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    width: 100%;
    font-size: 15px;
}

header {
    box-shadow: 10px 10px 10px grey;
    color: #e73131;
    padding: 25px;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    color: #e73131;
    text-decoration: underline #e73131;
}

.menu {
    margin: 0 20px;
    font-size: 20px;
    color: black;
}

#home {
    margin-left: 50%;
}

.align {
    align-items: center;
}

h1 {
    font-size: 40px;
}

.flexCenter {
    display: flex;
    align-items: center;
    justify-content: center;
}

.flexRow {
    display: flex;
    flex-direction: row;
}

.flexColumn {
    display: flex;
    flex-direction: column;
}

#presentation {
    position: absolute;
    color: white;
    font-size: 40px;
    width: 35%;
    margin: 100px 30px;
}

main {
    width: 85%;
    margin: auto;
}

#imageMarvel {
    margin-top: 25px;
}

.articles {
    margin: 20px auto;
    width: 80%;
    font-size: 50px;
}

.imageArticle {
    width: 80%;
}

.imageArticle:hover {
    opacity: 70%;
}

.colorWhite, .linkSocial {
    color: white;
}

.size18 {
    font-size: 18px;
}

footer {
    background-color: #e73131;
    padding: 20px;
}

.linkSocial {
    font-size: 23px;
    margin: 0 15px;
}

form {
    width: 40%;
    margin: 20vh auto;
}

label, input, textarea, .form-control, #submit {
    font-size: 20px;
}

#submit {
    margin: 20px auto;
    background-color: #e73131;
}

.colorRed {
    color: #e73131;
}

#pseudo:hover {
    color: #00aade;
}

.fab, .fas {
    margin-right: 10px;
}

#homeArticle {
    width: 50%;
    margin: 30px auto;
}

#homeArticle > img, #article {
    width: 100%;
}

#article {
    padding: 30px;
}

#article > h1 {
    margin: 30px auto;
}

.titleImage {
    font-size: 35px;
}

#contentArticle {
    width: 100%;
    height: 300px;
}

.buttonChange {
    background-color: #e73131;
    position: absolute;
    right: 15%;
    padding: 10px;
    border-radius: 10px;
    font-size: 20px;
    box-shadow: 3px 3px 10px grey;
}

.buttonChange:hover {
    text-decoration: none;
    color: white;
    background-color: #c32828;
}

#divNew {
    width: 100%;
    padding: 40px;
}

.width_80 {
    width: 80%;
}

#content {
    margin: 30px auto;
    width: 80%;
}

.horizontalLine {
    border-top: 1px solid #e73131;
    margin: 20px auto;
    width: 60%;
}

#comments {
    margin: 10px auto;
}

#comment {
    height: 100px;
}

#comments > h2 {
    font-size: 30px;
}

.commentArticle {
    margin: 10px;
    background-color: #eeebeb;
    border-radius: 10px;
    padding: 10px;
    width: 100%;
}

.titleComment {
    margin: 10px auto;
    font-weight: bold;
}

#modifyArticle {
    right: 27%;
}

.buttonChangeComment {
    position: absolute;
    color: #e73131;
    padding: 10px;
}

.buttonChangeComment:hover {
    color: black;
}

#modifyComment {
    right: 20%;
}

#deleteComment {
    right: 18%;
}

#addComment {
    position: relative;
    margin: auto;
}

#menuLink {
    width: 70%;
}

#menuTitle {
    width: 30%;
}

header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}


@media screen and (max-width: 1450px) {
    #home {
        margin-left: 30%;
    }
    #modifyArticle {
        right: 30%;
    }
}

@media screen and (max-width: 1050px) {
    #home {
        margin-left: 20%;
    }
    #presentation {
        margin: 50px 30px;
        width: 80%;
    }
    #modifyArticle {
        right: 60%;
    }
}

@media screen and (max-width: 930px) {
    #home {
        margin-left: 10%;
    }
    .menu {
        font-size: 18px;
        margin: 0 12px;
    }
    main {
        width: 100%;
    }
    #deleteComment {
        right: 15%;
    }
}

@media screen and (max-width: 730px) {
    .menu {
        font-size: 16px;
        margin: 0 10px;
    }
    #titleSite {
        font-size: 23px;
    }
    #presentation {
        font-size: 25px;
    }
}

@media screen and (max-width: 450px) {
    #menuTitle, #menuLink {
        width: 100%;
    }
    header {
        display: flex;
        flex-direction: column;
    }
    #home {
        margin: 0 10px;
    }
    #menuLink {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    #titleSite {
        font-size: 25px;
        text-align: center;
        margin: 20px;
    }
    #imageMarvel {
        display: none;
    }
    #presentation {
        color: #0f80cf;
        position: relative;
        font-size: 40px;
        width: 80%;
    }
    #homeArticle {
        width: 95%;
    }
    .buttonChange {
        font-size: 15px;
    }
    #content {
        font-size: 20px;
        width: 100%;
    }

}
